@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&family=Roboto:wght@500&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&family=Roboto:wght@500&display=swap");
*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

header {
  font-family: "Shrikhand", cursive;
  text-align: center;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  padding: 0.3rem;
  margin: 0;
  position: relative;
  font-size: 20px;
}

.tuto {
  counter-reset: steps;
  margin-bottom: 2rem;
}
.tuto ol {
  display: flex;
  gap: 2rem;
}
@media (max-width: 1000px) {
  .tuto ol {
    flex-direction: column;
  }
}
.tuto li {
  position: relative;
  display: flex;
  align-items: center;
  list-style-type: none;
  background-color: #f6f6f6;
  padding: 1.5rem 2rem;
  flex-grow: 1;
  border-radius: 1rem;
  box-shadow: 2px 1px 8px -3px #7e7e7e;
}
.tuto li::before {
  content: counter(steps);
  counter-increment: steps;
  color: white;
  background-color: #9356dc;
  width: 2rem;
  height: 2rem;
  display: grid;
  place-items: center;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: -1rem;
  transform: translateY(-50%);
}
.tuto li:hover {
  transform: scale(1.02);
  background-color: #f2eafb;
}
.tuto li:hover i::before {
  color: #9356dc;
}
.tuto li i.fas {
  margin-right: 1rem;
  color: #7e7e7e;
  font-size: 1.5rem;
}

.city {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: #f3f3f3;
  text-align: center;
  padding: 0.5rem;
}
.city i {
  font-size: 1.5rem;
}

.explorer {
  text-align: center;
  background-color: #fafafa;
  padding-bottom: 5rem;
}
.explorer h2 {
  margin-top: 0rem;
  padding-top: 2.5rem;
  font-size: 2rem;
}
.explorer p {
  font-size: 1.5rem;
}
.explorer button {
  color: white;
  font-weight: 300;
  font-size: 1.5rem;
  padding: 1rem 2rem;
  border-radius: 2rem;
  border: none;
  background-image: linear-gradient(to top, #9356DC, #FF79DA);
  transition: transform 200ms;
  margin-top: 1rem;
  box-shadow: 1px 7px 3px #000;
}
.explorer button:hover {
  transform: scale(1.02);
}

.menus {
  background-color: #f6f6f6;
}
.menus h2 {
  margin-bottom: 2rem;
}
.menus .menus__cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}
.menus .cards {
  border: 1px solid black;
}
.menus .cards .card__image {
  background-image: url("../../img/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
  height: 15rem;
}

/* pied de page */
footer {
  background-color: #353535;
  padding: 1rem 2rem;
  color: white;
}
footer h2 {
  font-family: "Shrikhand", "sans-serif";
  font-weight: 500;
  padding: 1rem 0;
}
footer p {
  padding: 0.2rem;
}

img {
  max-width: 100%;
}

.resto-main {
  padding: 0 1rem;
}

.menus {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
@media (max-width: 1000px) {
  .menus {
    grid-template-columns: 1fr;
  }
}
.menus h3 {
  text-transform: uppercase;
  font-weight: 400;
  position: relative;
  margin-bottom: 1rem;
}
.menus h3::after {
  content: "";
  position: absolute;
  top: 1.5rem;
  left: 0;
  height: 0.25rem;
  width: 3rem;
  background-color: #99e2d0;
}
.menus .menus__category {
  overflow: hidden;
}
.menus .menus__category .menu-item {
  display: flex;
  background-color: white;
  border-radius: 1rem;
  overflow: hidden;
  margin: 0.5rem;
  box-shadow: 2px 1px 8px -3px #7e7e7e;
  animation: appear 1s;
  animation-fill-mode: both;
}
.menus .menus__category .menu-item:nth-child(1) {
  animation-delay: 100ms;
}
.menus .menus__category .menu-item:nth-child(2) {
  animation-delay: 200ms;
}
.menus .menus__category .menu-item:nth-child(3) {
  animation-delay: 300ms;
}
.menus .menus__category .menu-item .menu-item__price {
  margin-left: auto;
  font-weight: 900;
  padding: 1rem;
  display: flex;
  align-items: flex-end;
}
.menus .menus__category .menu-item .menu-item__description {
  padding: 1rem;
  overflow: hidden;
}
.menus .menus__category .menu-item .menu-item__description h4,
.menus .menus__category .menu-item .menu-item__description p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.menus .menus__category .menu-item .menu-item__check {
  display: grid;
  place-items: center;
  flex-shrink: 0;
  border-radius: 0 1rem 1rem 0;
  background-color: #99e2d0;
  margin-right: -4rem;
  width: 4rem;
  transition: margin-right 0.5s;
}
.menus .menus__category .menu-item .menu-item__check i {
  display: grid;
  place-items: center;
  background: white;
  height: 1rem;
  width: 1rem;
  border-radius: 1rem;
  color: #99e2d0;
}
.menus .menus__category .menu-item:hover {
  cursor: pointer;
}
.menus .menus__category .menu-item:hover .menu-item__check {
  margin-right: 0;
}

/*# sourceMappingURL=styles.css.map */
