.city {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-color: #eaeaea;
    text-align: center;
    & input{
        border: none;
        background-color:#eaeaea;
        font-size: 16px;
        padding: 1rem;
        text-align: center;
    }
    & i {
        font-size: 1rem;
        margin: -15px;
    }
  }