.menus {
    background-color: #f6f6f6;
    h2 {
        margin-bottom: 2rem;
    }
.menus__cards {
    display: grid;
    grid-template-columns:repeat(2, 1fr) ;
    gap: 2rem;
    }
.cards {
    border: 1px solid black;
    & .card__image {
        background-image: url("../../img/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
        height: 15rem;
       }
    }
}

